Django==2.2.13
django-logpipe==1.0.0
djangorestframework==3.9.4
djangorestframework-stubs==1.1.0
kafka-python==2.0.0
lru-dict==1.1.6
pkg-resources==0.0.0
psycopg2==2.7.7
psycopg2-binary==2.7.7
pytz==2019.3
rest-condition==1.0.3
